.footer {
    margin: 0 auto;
    max-width: 1333px;
    padding: 50px 15px;

    @media only screen and (min-width: 1024px) {
        .choice {
            cursor: none;
        }
    
        ._icon-line {
            display: none;
        }
            
        .link-header {
            display: block;
        }    
    }    
}

.contacts-contaner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media only screen and (min-width: 1024px) {
        justify-content: space-between;
    }

    .headlines {
        border: none;
        background-color: transparent;
        color: $color-header-nav;
        font-size: $size-headerMain;
        font-family: inherit;
        line-height: 48px;
        padding-left: 0;
        margin-bottom: 0;
        text-align: left;
    }
}

.contacts-block {
    padding: 0 15px 30px;

    &:last-child {
        order: -1;

        @media only screen and (min-width: 1024px) {
            order: 1;
        }
    }
}

.contact-text {
    @include regular-text;
    color: $color-link;
    font-size: $size-base;
    flex-basis: 240px;
    margin-top: 15px;

    @media only screen and (min-width: 1024px) {
        width: 240px;
    }
}

.contact-item {
    margin-top: 16px;

    a {
        @include regular-text;
        color: $color-link;
        font-size: $size-base;

        i {
            font-size: 18px;
            margin-right: 10px;
        }
    }
}

.allBlocks-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (min-width: 500px) {
        flex-flow: row wrap;
        justify-content: space-between;
        flex-basis: 550px;
    }
}

.choice {
    cursor: pointer;
    margin-right: 8px;
    padding: 0;
}
                        
.link-header {
    display: none;
}

._icon-line {
    display: inline-block;
    font-size: 10px;
}

.choice.active  ._icon-line{
    display: none;
}

.form {
    display: flex;
    margin-top: 16px;
}

.input-block {
    align-items: center;
    background-color: $color-Background;
    display: flex;
    flex-basis: 242px;    
    height: 45px;

    input {
        @include regular-text;
        background: $color-Background;
        border: none;
        color: $color-inputText;
        font-size: $size-base;
        line-height: 40px;
        padding-left: 12px;
        width: 180px;

        @media only screen and (min-width: 375px) {
            width: 242px;
        }
    
        &::placeholder {
            @include regular-text;
            color: $color-inputText;
            font-size: $size-base;
            padding-left: 12px;
        }
    } 
}

.submit {
    background-color: $color-btn;
    border: none;
    cursor: pointer;
    height: 45px;
    margin-left: 4px;
    width: 46px;

    ._icon-send {
        font-size: 20px;
    }
}
