$colorDark-header: #3A3A3A;
$colotGray-text: #898989;
$colorOrange-btn: #E89F71;
$colorWhite-effect: #FFFFFF;
$color-black: #000000;
$colorDarkGray-link: #616161;
$color-inputText: #828282;
$color-Background: #F4F5F7;
$colorLightGray-price: #B0B0B0;

$size-h1: 56px;
$size-header: 40px;
$size-headerMain: 24px;
$size-subheader: 20px;
$size-base: 16px;
$size-date: 14px;
