.nav {
    display: flex;
    justify-content: space-between;
    left: 0;
    max-width: 1296px;
    margin: 0 auto;
    position: fixed;
    padding: 0 10px;
    right: 0;
    top: 65px;
    z-index: 1;
    transition: top 1s;

    &.sticky {
        top: 0;
        max-width: 100%;
        border: 1px solid rgb(250, 187, 104);
        background-color: rgba(169, 169, 169, .8);
        box-shadow: 0 0 15px $colorOrange-btn;
    }

    @media only screen and (min-width: 370px) {
        padding: 0 30px;
    } 
}

.nav-main {
    align-items: center;
    display: flex;
} 

.sticky .logo {
    background: transparent;
} 

.logo {
    color: $color-black;    
    font-weight: bold;
    font-size: $size-headerMain;
    line-height: 30px;
    padding-right: 20px; 

    @media only screen and (min-width: 370px) {
        padding-right: 40px; 
    }  
}

.nav-content {
    align-items: center;
    display: none;
    
    @media only screen and (min-width: 900px) {
        display: flex;
        flex-wrap: wrap;
    }

    .nav-item {
        position: relative;
        padding: 5px 0;
    }

    .inspiration {
        transition: all .3s ease;

        &:focus {
            color: $colorOrange-btn;
        }

        @media (any-hover: hover){
            &:hover {
               color: $colorOrange-btn;
            }
        }   
    }
    
    .button {
        @include gilroy-text;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-right: 44px;
        padding: 0;

        i {
            margin-left: 8px;
            font-size: 10px;
        }
    }

    .dropdown-menu {
        position: absolute;
        left: 0;
        top: 100%;
        transform: translate(0, -5px);
        background-color: $colorOrange-btn;
        width: 100%;
        min-width: 200px;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transition: all .3s ease 0s;
        z-index: 2;
    }

    .dropdown-menu:not(.active) {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    
    a {
        @include gilroy-text;
        display: block;
    } 

    .dropdown-link {
        padding-left: 10px;
        margin-bottom: 5px;
        transition: all .3s ease;

        &:focus {
            color: $colorWhite-effect;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $colorWhite-effect;
            }
        }
    }
}

.nav-content.active {
    background-color: $color-black;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    padding: 150px 50px;
    top: 0;
    width: 100%;
    z-index: 1;
 
    .button, 
    a {
        color: $colorWhite-effect;
        display: block;    
    }
    
    .dropdown-item a {
        color: $colorWhite-effect;
        padding: 5px;
    }

    @media (any-hover: hover) {
        a:hover {
            color: $colorDark-header;
        }
    }

    .dropdown-menu {
        position: relative;
        height: auto;
    }

    .dropdown-menu:not(.active) {
        height: 0;
    }
}
    
.nav-asside {
    display: flex; 
}

.customer-menu {
    display: flex;
    align-items: center;

    .item {
        position: relative;
    }
        
    .show .popuptext {
        display: block;
        width: max-content;
        padding: 8px;
        background-color: #555;
        @include effect-text;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 125%;
        margin-left: -100%;
    }

    .show .popuptext::before {
        content: "";
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        position: absolute;
    }

    .item:not(:last-child) {
        margin-right: 10px;

        @media only screen and (min-width: 370px) {
            margin-right: 32px;
        }  
    }

    .menu-link {
        display: block;
        touch-action: manipulation;
    }

    ._icon-heartblack {
        display: block;
        font-size: 26px;
        color: #262F56;
    }
    
    ._icon-cart {
        display: block;
        font-size: 26px;
        color: #262F56;
        font-weight: 900;
    }

    .profile {
        width: 44px;
        height: 44px;

        img {
            box-sizing: content-box;
            border: 2px solid #262F56;
            border-radius: 50%;
            max-width: 100%;
            height: auto;
        }
    }
}

.smart-menu {
    border: none;
    background: transparent;
    margin-right: 10px;
    cursor: pointer;
    z-index: 2;

    .hamburger.active::after {
        background: $colorWhite-effect;
    }

    .hamburger.active::before {
        background: $colorWhite-effect;
    }
        
    @media only screen and (min-width: 900px) {
        display: none;
    }
}