@mixin effect-text {
    color: $color-effect;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $size-base;
    line-height: 150%;    
}

@mixin regular-text {
    color: $colot-text;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: $size-date;
    line-height: 150%;
}

@mixin gilroy-text {
    color: $color-header;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $size-base;
    line-height: 150%;    
}
