.promotion {
    background-image: url(../images/promotion/header-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 158px 0 85px;
    
    .headlines {
        font-size: $size-subheader;
        margin-bottom: 16px;
        text-align: left;
            
        @media only screen and (min-width: 375px) {
            font-size: 26px;
        }
            
        @media only screen and (min-width: 576px) {
            font-size: $size-h1;
        }      
    }
    
    .text {
        @include gilroy-text;
        color: $colotGray-text;
        margin-bottom: 28px;
        padding-right: 10px;
        
        @media only screen and (min-width: 576px) {
            font-size: $size-subheader;
            margin-bottom: 48px;
        }      
    }

    .contaner {    
        display: flex;
        max-width: 1296px;
        margin: 0 auto;
        padding: 0 30px;
    }
    
    .content {
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(31px);
        padding: 30px;
        flex: 0 1 494px;

        @supports ((-webkit-backdrop-filter: blur(31px) or (backdrop-filter: blur(31px)))) {
            background: rgba(255, 255, 255, 0.72);
            backdrop-filter: blur(31px);
        }
        
        @media only screen and (min-width: 375px) {
            padding: 60px;
        }
    }
            
    .button-link {
        background: $colorOrange-btn;
        text-align: center;
          
        a {
            display: block;
            @include gilroy-text;
            color: $color-black;
            font-weight: 600;
            padding: 14px 0;        
                        
            @media only screen and (min-width: 370px) {
                font-size: $size-subheader;
                padding: 24px 0;
            }             
        }             
    }       
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
    .logo  {
        background-image: url(../images/promotion/header-fon@2.jpg);
    }
}


        
        