body {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: $size-base;
    line-height: 150%;    
    background-color: $color-effect;
    color: $colot-text;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr {
    max-width: 1273px;
    margin-top: 44px;
    margin-bottom: 31px;
}

.headlines {
    color: $color-header;
    font-weight: bold;
    font-size: $size-header;
    line-height: 120%;    
}

.description-text {
    font-weight: 500;
}

.important-text {
    color: $color-header;
    font-weight: 600;
    font-size: 18px;
}
