@import url(./main.css);
@import url(./hamburger.css);
.headlines {
  color: #3A3A3A;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
}

.description-text {
  color: #898989;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.important-text {
  color: #3A3A3A;
  font-family: "Gilroy-Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

body {
  background-color: #FFFFFF;
  color: #898989;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  background-image: url(../imgs/header-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 158px 0 85px;
}

.header .header-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 10px;
  position: fixed;
  top: 65px;
  z-index: 1;
}

@media only screen and (min-width: 370px) {
  .header .header-menu {
    left: 30px;
  }
}

@media only screen and (min-width: 900px) {
  .header .header-menu {
    left: 96px;
  }
}

.header .header-menu .logo {
  color: #FFFFFF;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-right: 40px;
}

.header .header-menu .header-effect {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media only screen and (min-width: 900px) {
  .header .header-menu .header-effect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .header-menu .header-effect .button {
  color: #3A3A3A;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header .header-menu .header-effect .button::after {
  content: url(../imgs/line.png);
  padding-left: 8px;
  margin-right: 44px;
}

.header .header-menu .header-effect a {
  color: #3A3A3A;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.header .header-menu .header-effect.active {
  background-color: black;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  padding: 150px 50px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .header-menu .header-effect.active .button, .header .header-menu .header-effect.active a {
  color: #FFFFFF;
  display: block;
}

.header .header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 10px;
  top: 65px;
  z-index: 1;
}

@media only screen and (min-width: 900px) {
  .header .header-icon {
    right: 104px;
  }
}

.header .header-icon .header-smart {
  cursor: pointer;
  display: block;
  padding-left: 20px;
}

.header .header-icon .header-smart .hamburger.active::after {
  background: #FFFFFF;
}

.header .header-icon .header-smart .hamburger.active::before {
  background: #FFFFFF;
}

@media only screen and (min-width: 900px) {
  .header .header-icon .header-smart {
    display: none;
  }
}

.header .header-icon .icon-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-icon .icon-block .heart::before {
  content: url(../imgs/hearts.png);
}

.header .header-icon .icon-block .cart::before {
  content: url(../imgs/cart.png);
  padding: 0 10px 0 10px;
}

@media only screen and (min-width: 370px) {
  .header .header-icon .icon-block .cart::before {
    padding: 0 32px 0 33px;
  }
}

.header .header-icon .icon-block .guise::before {
  content: url(../imgs/guise.png);
}

.header .contaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 30px;
}

.header .contaner .block-content {
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  padding: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 494px;
          flex: 0 1 494px;
}

@media only screen and (min-width: 375px) {
  .header .contaner .block-content {
    padding: 60px;
  }
}

.header .contaner .block-content .headlines {
  font-size: 20px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 375px) {
  .header .contaner .block-content .headlines {
    font-size: 26px;
  }
}

@media only screen and (min-width: 576px) {
  .header .contaner .block-content .headlines {
    font-size: 56px;
  }
}

.header .contaner .block-content .text {
  color: #3A3A3A;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
  margin-bottom: 28px;
  padding-right: 10px;
}

@media only screen and (min-width: 576px) {
  .header .contaner .block-content .text {
    font-size: 20px;
    margin-bottom: 48px;
  }
}

.header .contaner .block-content .button-link {
  background: #E89F71;
  cursor: pointer;
  padding: 14px 0;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .header .contaner .block-content .button-link {
    padding: 24px 0;
  }
}

.header .contaner .block-content .button-link a {
  color: #3A3A3A;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  font-weight: 600;
}

@media only screen and (min-width: 370px) {
  .header .contaner .block-content .button-link a {
    font-size: 20px;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 15px 40px;
}

@media only screen and (min-width: 450px) {
  .feature {
    padding: 66px 15px 88px;
  }
}

@media only screen and (min-width: 992px) {
  .feature {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature .offer {
  position: relative;
  padding: 16px 0 16px 86px;
}

.feature .offer .important-text {
  margin-bottom: 2px;
}

.feature .reward::before {
  content: url(../imgs/roward.png);
  left: 24px;
  position: absolute;
  top: 22px;
}

.feature .verified::before {
  content: url(../imgs/verified.png);
  left: 24px;
  position: absolute;
  top: 22px;
}

.feature .delivery::before {
  content: url(../imgs/delivery.png);
  left: 24px;
  position: absolute;
  top: 22px;
}

.feature .support::before {
  content: url(../imgs/support.png);
  left: 24px;
  position: absolute;
  top: 22px;
}

.product {
  margin: 0 auto;
  max-width: 1298px;
  padding: 0;
}

@media only screen and (min-width: 360px) {
  .product {
    padding: 0 14px;
  }
}

.product .headlines {
  margin-bottom: 32px;
  text-align: center;
}

.product .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 1300px) {
  .product .products {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product .products .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 285px;
          flex: 0 1 285px;
  background: #F4F5F7;
  position: relative;
  margin: 16px;
}

.product .products .card .card-img {
  -webkit-box-flex: 285px;
      -ms-flex: 285px;
          flex: 285px;
}

.product .products .card .card-img img {
  width: 100%;
}

.product .products .card .card-discription {
  padding: 16px 0 30px 16px;
}

.product .products .card .card-discription .headlines {
  font-size: 24px;
  margin-bottom: 8px;
  text-align: left;
}

.product .products .card .card-discription .description-text {
  margin-bottom: 8px;
}

.product .products .card .card-discription .important-text {
  font-size: 20px;
}

.product .products .card .card-discription .important-text .discount {
  color: #3A3A3A;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #B0B0B0;
  padding-left: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.product .products .card .effect {
  background-color: #3A3A3A;
  display: none;
  height: 100%;
  left: 0;
  opacity: .72;
  position: absolute;
  top: 0;
  width: 100%;
}

.product .products .card .effect .effect-block {
  left: 14.7%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 202px;
}

@media only screen and (min-width: 300px) {
  .product .products .card .effect .effect-block {
    width: 202px;
  }
}

.product .products .card .effect .effect-block .effect-btn {
  color: #FFFFFF;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  background: #FFFFFF;
  border: none;
  color: #E89F71;
  cursor: pointer;
  padding: 12px 0;
  margin-bottom: 24px;
  width: 100%;
}

.product .products .card .effect .effect-block .effect-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .products .card .effect .effect-block .effect-action a {
  color: #FFFFFF;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.product .products .card .effect .effect-block .effect-action .share::before {
  content: url(../imgs/share.png);
  padding-right: 10px;
  padding-left: 16px;
  vertical-align: sub;
}

.product .products .card .effect .effect-block .effect-action .like {
  color: #FFFFFF;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: 5px;
}

.product .products .card .effect .effect-block .effect-action .like::before {
  content: url(../imgs/heart-effect.png);
  padding: 0  10px 0 0;
  vertical-align: sub;
}

.product .products .card:hover .effect {
  display: block;
}

.product .more {
  text-align: center;
  margin-top: 32px;
}

.product .more .button-more {
  cursor: pointer;
  color: #E89F71;
  background: #FFFFFF;
  border: 1px solid #E89F71;
  font-size: 16px;
  padding: 12px 82px;
}

.inspirations {
  margin: 0 auto;
  max-width: 1310px;
  margin-top: 84px;
  margin-bottom: 64px;
  padding: 0 14px;
  position: relative;
}

.inspirations .headlines {
  text-align: center;
  margin-bottom: 36px;
}

.inspirations .gallery-viewport {
  margin: 0 auto;
  max-width: 1282px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .inspirations .gallery-viewport {
    margin-bottom: 43px;
    padding: 0 8px;
  }
}

.inspirations .gallery-viewport .gallery-contaner {
  width: 9999px;
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el {
  display: inline-block;
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element {
  background: #FFFFFF;
  margin: 5px;
  width: calc( (100vw - 280px)/(1300 - 280) * (65 - 26.1) + 26.1vw);
}

@media only screen and (min-width: 500px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element {
    margin: 16px;
    width: calc( (100vw - 280px)/(1300 - 280) * (65 - 23) + 23vw);
  }
}

@media only screen and (min-width: 760px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element {
    width: calc( (100vw - 280px)/(1300 - 280) * (95 - 23) + 23vw);
  }
}

@media only screen and (min-width: 1330px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 390px;
            flex: 0 1 390px;
    width: 390px;
  }
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-img {
  height: auto;
  max-width: 390px;
}

@media only screen and (min-width: 1330px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-img {
    height: 251px;
  }
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-img img {
  width: 100%;
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .smol {
  max-width: 260px;
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-text {
  padding: 6px 0;
}

@media only screen and (min-width: 870px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-text {
    padding: 16px 0 16px 16px;
  }
}

@media only screen and (min-width: 1330px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-text {
    width: 360px;
  }
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-text .headlines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: calc( (100vw - 280px)/(1300 - 280) * (24 - 10) + 10px);
  text-align: left;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1300px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-text .headlines {
    font-size: 24px;
  }
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-text .time {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-top: 8px;
  font-size: 11px;
}

@media only screen and (min-width: 500px) {
  .inspirations .gallery-viewport .gallery-contaner .gallery-el .gallery-element .gallery-text .time {
    font-size: 14px;
  }
}

.inspirations .gallery-viewport .gallery-contaner .gallery-el.active {
  -webkit-box-shadow: 0 0 18px rgba(97, 97, 97, 0.3);
          box-shadow: 0 0 18px rgba(97, 97, 97, 0.3);
}

.inspirations .arrow-next::after {
  content: url(../imgs/arrow-next.png);
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 245px;
}

.inspirations .arrow-prev::before {
  content: url(../imgs/arrow-prev.png);
  cursor: pointer;
  left: 0px;
  position: absolute;
  top: 245px;
}

.inspirations .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inspirations .indicator .bot {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  width: 27px;
}

.inspirations .indicator .bot span {
  background-color: #898989;
  border-radius: 50%;
  height: 11px;
  width: 11px;
}

.inspirations .indicator li.active {
  border: 1px solid #E89F71;
}

.inspirations .indicator li.active span {
  background-color: #E89F71;
}

.share {
  margin: 0 auto;
  max-width: 1243px;
}

.share .important-text {
  color: #616161;
  font-size: 16px;
  text-align: center;
}

@media only screen and (min-width: 375px) {
  .share .important-text {
    font-size: 20px;
  }
}

.share .headlines {
  font-size: 30px;
  margin-bottom: 43px;
  text-align: center;
}

@media only screen and (min-width: 375px) {
  .share .headlines {
    font-size: 40px;
  }
}

.share .shore-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

@media only screen and (min-width: 768px) {
  .share .shore-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

.share .shore-row .shore-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.share .shore-row .shore-column img {
  padding: 7px 20px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .share .shore-row .shore-column img {
    margin: 6px;
    padding: 0;
    width: auto;
  }
}

hr {
  max-width: 1273px;
  margin-top: 44px;
  margin-bottom: 31px;
}

.end {
  margin: 0 auto;
  max-width: 1333px;
  padding: 50px 15px;
}

.end .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 1024px) {
  .end .nav-link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.end .nav-link .allBlocks-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 500px) {
  .end .nav-link .allBlocks-choice {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 550px;
        flex-basis: 550px;
  }
}

.end .nav-link .allBlocks-choice .block-choice .headlines {
  border: none;
  background-color: transparent;
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  padding-left: 0;
}

.end .nav-link .allBlocks-choice .block-choice li {
  margin-top: 16px;
}

.end .nav-link .allBlocks-choice .block-choice li a {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  font-size: 16px;
}

.end .nav-link .allBlocks-choice .block-choice .choice {
  cursor: pointer;
}

.end .nav-link .allBlocks-choice .block-choice .choice::after {
  content: url(../imgs/shape.png);
  padding-left: 8px;
}

.end .nav-link .allBlocks-choice .block-choice .choice.active::after {
  content: "";
}

.end .nav-link .allBlocks-choice .block-choice .link-header {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .end .nav-link .allBlocks-choice .block-choice .choice {
    cursor: none;
  }
  .end .nav-link .allBlocks-choice .block-choice .choice::after {
    content: "";
  }
  .end .nav-link .allBlocks-choice .block-choice .link-header {
    display: block;
  }
}

.end .nav-link .nav-block {
  padding: 0 15px 30px;
}

.end .nav-link .nav-block:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media only screen and (min-width: 1024px) {
  .end .nav-link .nav-block:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.end .nav-link .nav-block .headlines {
  color: #000000;
  font-size: 24px;
  line-height: 29px;
}

.end .nav-link .nav-block .nav-text {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  font-size: 16px;
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
  margin-top: 15px;
}

@media only screen and (min-width: 1024px) {
  .end .nav-link .nav-block .nav-text {
    width: 240px;
  }
}

.end .nav-link .nav-block .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.end .nav-link .nav-block .form .input-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F4F5F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 242px;
      flex-basis: 242px;
  height: 45px;
}

.end .nav-link .nav-block .form .input-block input {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  background: #F4F5F7;
  border: none;
  color: #828282;
  font-size: 16px;
  padding-left: 12px;
  width: 180px;
}

@media only screen and (min-width: 375px) {
  .end .nav-link .nav-block .form .input-block input {
    width: 242px;
  }
}

.end .nav-link .nav-block .form .input-block input::-webkit-input-placeholder {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  font-size: 16px;
  padding-left: 12px;
}

.end .nav-link .nav-block .form .input-block input:-ms-input-placeholder {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  font-size: 16px;
  padding-left: 12px;
}

.end .nav-link .nav-block .form .input-block input::-ms-input-placeholder {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  font-size: 16px;
  padding-left: 12px;
}

.end .nav-link .nav-block .form .input-block input::placeholder {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  font-size: 16px;
  padding-left: 12px;
}

.end .nav-link .nav-block .form .submit {
  background-color: #E89F71;
  border: none;
  cursor: pointer;
  height: 45px;
  margin-left: 4px;
  width: 46px;
}

.end .nav-link .nav-block .form .submit::before {
  content: url(../imgs/send.png);
}

.end .nav-link .nav-block .contacts li {
  margin-top: 16px;
}

.end .nav-link .nav-block .contacts li a {
  color: #898989;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  font-size: 16px;
}

.end .nav-link .nav-block .contacts li .address::before {
  content: url(../imgs/address.png);
  margin-right: 10px;
  vertical-align: middle;
}

.end .nav-link .nav-block .contacts li .tel::before {
  content: url(../imgs/tel.png);
  margin-right: 10px;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */